node_modules
.github
.husky
./adonis-typings
./assets
./bin
./commands
./documents
./examples
./providers
./src
./templates
./test
./test-helpers
.editorconfig
.gitignore
.prettierignore
./tsconfig.json
